# Process genomic locations for MGI annotations mm39 lncRNAs

## <br> 1. Import Required Packages

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Read the GTF file into a DataFrame
MGI_Master = pd.read_csv('./RAW_Data/MGI_lncRNAs_mm39.txt', 
                         delimiter='\t')

# Drop rows where 'Start', 'End', or 'strand GRCm39' columns have NaN values
MGI_Master.dropna(subset=['Start', 'End', 'strand GRCm39'], inplace=True)

# Convert 'Start' and 'End' columns to integers
MGI_Master['Start'] = MGI_Master['Start'].astype(int)
MGI_Master['End'] = MGI_Master['End'].astype(int)

MGI_Master['Score'] = 1000

MGI_Master['Chromosome'] =  'chr' + MGI_Master['Chromosome']

MGI_Master = MGI_Master[['Chromosome', 'Start', 'End', 'Symbol', 'Score', 'strand GRCm39']]


MGI_Master

      Chromosome      Start        End   Symbol  Score strand GRCm39
0          chr10   94509355   94524475  Cep83os   1000             -
1           chr4  107650358  107659261  Lrp8os3   1000             -
2           chr2   74578766   74593240    Haglr   1000             -
3          chr12  110241818  110244502   Dio3os   1000             -
4           chr8   12435771   12486732   Sox1ot   1000             +
...          ...        ...        ...      ...    ...           ...
24097      chr19    6182494    6191944  Gm57660   1000             +
24098      chr19   36218423   36229116  Gm57659   1000             -
24099      chr18   53433869   53446292  Gm57647   1000             +
24100      chr17   24769458   24782513  Gm57643   1000             +
24101      chr16   10320437   10336161  Gm57630   1000             -

[21408 rows x 6 columns]

## <br> 2. Save Restructured Data

In [6]:
MGI_Master.to_csv('./RAW_Data/MGI_lncRNAs_mm39_Processed.txt', sep='\t', header=False, index=False, na_rep="NaN")